/* Google Fonts */

@import url('http://fonts.cdnfonts.com/css/rockwell-nova');
@import url('http://fonts.cdnfonts.com/css/helvetica-255');
@import url('http://fonts.cdnfonts.com/css/tahoma');

/* CSS Variables */

:root {
    --header-height: 3rem;
    /* Colors */
    --first-color: #dab300;
    --first-color-alt: #C42130;
    --first-color-send: #DE3B49;
    --title-color: #161212;
    --text-color: #5B5757;
    --text-color-light: #8F8A8A;
    --body-color: #FEFBFB;
    --container-color: #FFF;
    /* Font and typography */
    font-family: 'Rockwell Nova', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 968px) {
     :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}


/* Base Declarations */

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

ul {
    padding: 0;
    list-style-type: circle;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* Reusable CSS Classes */

.section {
    padding: 4rem 0 2rem;
}

.container {
    max-width: 968px;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.grid {
    display: grid;
    gap: 1.5rem;
}


/* Header Section */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #fff;
}


/* Nav Section */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.nav-logo {
    font-size: 1.4rem;
    display: inline-block;
    background-color: #dab300;
    padding: 0.5rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.nav-logo i {
    color: #fff;
}

a.nav-logo {
    color: #000;
    font-weight: 800;
    font-family: 'Rockwell Nova', 'Tahoma', sans-serif;
}

a.lang {
    background-color: #dab300;
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

a.lang {
    color: #000;
    font-weight: 800;
    font-family: 'Rockwell Nova', sans-serif;
}

a.lang img {
    width: 1.8rem;
}


/* Main Body */

.main {
    overflow: hidden;
}


/* Home Section */

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-img,
.back-img {
    width: 340px;
    align-self: center;
}

.home-img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-description {
    width: 95%;
    border: 0.05rem solid #DE3B49;
    margin: auto;
    margin-top: 3.5rem;
    position: relative;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


/* Buttons */

.button {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 0.5rem;
    text-align: center;
    background-color: var(--first-color);
    font-family: var(--body-font);
    color: #fff;
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.back {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home-button {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}


/* Contract Page */

.contract {
    display: flex;
    margin-top: 1.5rem;
}

.contract-container,
.final-contract {
    border: 1.5px solid #DE3B49;
    margin: auto;
    width: 95%;
    position: relative;
    padding: 1rem;
    border-radius: 2.3rem;
    -webkit-border-radius: 2.3rem;
    -moz-border-radius: 2.3rem;
    -ms-border-radius: 2.3rem;
    -o-border-radius: 2.3rem;
}

.contract-container .contract-title img {
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
    width: 290px;
}

.actions-container {
    margin-top: 6rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-title {
    font-family: 'Helvetica', 'Tahoma', sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.action-description {
    font-family: 'Helvetica', 'Tahoma', sans-serif;
}

.action-img {
    width: 5rem;
}

.final-contract {
    margin-top: 1rem;
}

.final-contract img {
    margin-top: 0.5rem;
}


/* Muscles Page */

.muscles-container {
    border: 1.5px solid #DE3B49;
    margin: auto;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
    position: relative;
    width: 93%;
}

.muscles-title-img img {
    width: 290px;
    height: 35px;
}

.muscles-item {
    border-top: 1px solid #C42130;
    border-bottom: 1px solid #C42130;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.muscles-item .img-description {
    text-align: center;
    margin-top: 0.8rem;
    font-family: 'Rockwell Nova', 'Tahoma', sans-serif;
    font-size: var(--normal-font-size);
}


/* Ex-number Page */

.exercise-title {
    position: absolute;
    top: -1.6rem;
    left: 2.5rem;
}

.exercise-title img {
    width: 230px;
}

.exercise-description {
    list-style: disc;
    width: 320px;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

hr {
    height: 1px;
    outline: none;
    border: none;
    background-color: #dab300;
}

.exercise-description li {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    margin-left: 1.3rem;
    margin-right: 1.2rem;
    font-family: 'Helvetica', 'Tahoma', sans-serif;
    font-weight: lighter;
}

.exercise-description:last-child {
    margin-bottom: 0;
}
